@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
// * colors
$dark-blue: #00264d;
$sky-blue: #0073ff;
$red: #fa5948;

.active_select {
  padding: 8px;
}

// * Fonts
@mixin roboto-normal {
  font-family: Roboto, "sans-serif";
  font-weight: 400;
}

@mixin roboto-600 {
  font-family: Roboto, "sans-serif";
  font-weight: 600;
}

@mixin roboto-bold {
  font-family: Roboto, "sans-serif";
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  // * ------------------------------ Navbar styles ------------------------------
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 23.5px 60px;

    .nav-list {
      display: flex;
      align-items: center;
      list-style: none;

      .nav-item {
        margin-left: 24px;
        color: $red;
        cursor: pointer;
        a {
          color: $red;
        }
      }

      // * ------------------------------ Select styles ------------------------------
      .icon_select_mate {
        position: absolute;
        top: 10px;
        right: 2%;
        font-size: 16px;
        height: 22px;
        transition: all 275ms;
        cursor: pointer;
      }

      .select_mate {
        position: relative;
        float: left;
        width: 70px;
        padding: 0 10px;
        height: auto;
        color: #777;
        font-weight: 300;
        background-color: #fff;
        border-radius: 3px;
        transition: all 375ms ease-in-out;
        text-transform: uppercase;
        @include roboto-normal();
        select {
          position: absolute;
          overflow: hidden;
          height: 0px;
          opacity: 0;
          z-index: -1;
        }
      }

      .cont_list_select_mate {
        position: relative;
        float: left;
        width: 100%;
      }

      .cont_select_int {
        position: absolute;
        left: -10px;
        top: 0px;
        z-index: 999;
        overflow: hidden;
        height: 0px;
        width: 70px;
        background: #ffffff;
        box-shadow: 0px 1px 2px rgba(47, 137, 250, 0.08),
          0px 3px 20px rgba(26, 70, 125, 0.1);
        border-radius: 4px;
        margin-bottom: 0px;
        margin-top: 0px;
        border-radius: 0px 0px 3px 3px;
        transition: all 375ms ease-in-out;
        text-transform: uppercase;

        li {
          position: relative;
          float: left;
          width: 100%;
          list-style-type: none;
          padding: 10px 12px;
          margin: 0px;
          transition: all 275ms ease-in-out;
          display: block;
          cursor: pointer;
          border-radius: 4px;

          &:last-child {
            border-radius: 3px;
            border-bottom: 0px;
          }
          &:hover {
            background-color: #edf5ff;
            color: $sky-blue;
          }
        }

        .active {
          background-color: #edf5ff;
          color: $sky-blue;
        }
      }

      .selecionado_opcion {
        padding: 10px 2%;
        display: block;
        margin: 0px;
        cursor: pointer;
      }
    }
  }

  // * ------------------------------ Last news styles ------------------------------
  .last-news {
    padding: 72px 60px;

    .last-news-title {
      @include roboto-600;
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 40px;
    }
  }

  // * Select styles
  .last-news__selects {
    .icon_select_mate {
      position: absolute;
      top: 10px;
      right: 2%;
      font-size: 16px;
      height: 22px;
      transition: all 275ms;
      cursor: pointer;
    }

    .select_mate {
      position: relative;
      float: left;
      width: 172px;
      padding: 0 10px;
      height: auto;
      font-family: "Roboto";
      color: #4f4f4f;
      font-weight: 300;
      background: #f5f5f5;
      border-radius: 3px;
      transition: all 375ms ease-in-out;
      list-style: none;
      border-radius: 4px;
      margin-right: 12px;
      select {
        position: absolute;
        overflow: hidden;
        height: 0px;
        opacity: 0;
        z-index: -1;
      }
    }

    .cont_list_select_mate {
      position: relative;
      float: left;
      width: 100%;
    }

    .cont_select_int {
      position: absolute;
      left: -10px;
      top: 0px;
      z-index: 999;
      overflow: hidden;
      height: 0px;
      width: 172px;
      background: #ffffff;
      box-shadow: 0px 1px 2px rgba(47, 137, 250, 0.08),
        0px 3px 20px rgba(26, 70, 125, 0.1);
      border-radius: 4px;
      margin-bottom: 0px;
      margin-top: 0px;
      border-radius: 0px 0px 3px 3px;
      transition: all 375ms ease-in-out;
      margin-top: 8px;

      li {
        position: relative;
        float: left;
        width: 100%;
        list-style-type: none;
        padding: 10px 12px;
        margin: 0px;
        transition: all 275ms ease-in-out;
        display: block;
        cursor: pointer;
        border-radius: 4px;

        &:last-child {
          border-radius: 3px;
          border-bottom: 0px;
        }
        &:hover {
          background-color: #edf5ff;
          color: $sky-blue;
        }
      }

      .active {
        background-color: #edf5ff;
        color: $sky-blue;
      }
    }

    .selecionado_opcion {
      padding: 10px 2%;
      display: block;
      margin: 0px;
      cursor: pointer;
    }
  }
  // * Main styles
  .last-news__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 111px;

    .card {
      display: inline-block;
      width: 312px;
      height: 320px;
      position: relative;
      margin: 0 14px 14px 0;
      border-radius: 8px;
      overflow: hidden;
      img {
        transition: transform 0.3s ease;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  .card-overlay {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 16px;

    .card-desc {
      @include roboto-bold();
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.1px;
      margin-top: 8px;
    }
  }

  .data {
    @include roboto-normal();
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    svg {
      margin-right: 8px;
    }

    span {
      display: inline-block;
      margin: 0 16px;
      font-size: 25px;
    }
  }

  // * ------------------------------ All news styles ------------------------------
  .all-news {
    padding: 0 60px;
    margin-bottom: 200px;
    .all-news-title {
      @include roboto-bold();
      color: $dark-blue;
      font-size: 26px;
      line-height: 32px;
      letter-spacing: 0.2px;
      margin-bottom: 32px;
    }

    .all-news__main {
      display: flex;
      flex-wrap: wrap;
    }

    .main-news {
      display: inline-block;
      width: 525px;
      height: 440px;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      img {
        transition: all 0.3s;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      .card-overlay {
        padding: 46px 25px;

        .card-desc {
          width: 100%;
        }
      }
    }

    .recommend-news {
      display: flex;
      flex-wrap: wrap;
      width: 57%;
      margin-left: 25px;
      .row {
        display: flex;
        margin: 0 0 25px 0;

        .img-block {
          display: inline-table;
          border-radius: 8px;
          width: 255px;
          height: 204px;
          overflow: hidden;
          img {
            transition: all 0.3s;
            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .row-info {
          margin-left: 16px;

          .data {
            @include roboto-normal();
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #8f8f8f;
          }

          .news-title {
            @include roboto-bold();
            color: $dark-blue;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.2px;
            margin: 4px 0 8px;
            padding-right: 70px;
          }

          .news-desc {
            @include roboto-normal();
            color: $dark-blue;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.1px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 706px) {
  .last-news__selects {
    justify-content: flex-start !important;
  }
}

@media only screen and (max-width: 1414px) {
  .container {
    .navbar {
      padding: 23.5px 20px;
    }

    .last-news {
      padding: 50px 20px;

      .last-news__selects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .select_mate {
          margin-bottom: 10px;
        }
      }

      .last-news__main {
        margin-top: 0;
      }
    }

    .all-news {
      padding: 0 20px;

      .all-news__main {
        justify-content: center;
      }

      .main-news {
        width: auto;
        margin-right: 20px;
      }

      .recommend-news {
        width: auto;
        margin: 10px 0;
        justify-content: center;

        .row {
          flex-wrap: wrap;
          width: 255px;
          margin-right: 20px;

          .news-title {
            padding-right: 0 !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 676px) {
  .last-news__main {
    .card {
      margin-right: 0;
    }
  }
}
